<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-5">Legacy foltok</h1>
    <span>
      <% if policy(Design).new? %>
        <%= link_to 'Új folt', new_design_path, class: "btn btn-secondary m-4" %>
        <%= link_to 'Címkék', labels_path, class: "btn btn-secondary m-4" %>
      <% end %>
    </span>
  </div>

  <div class="lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 mobile:grid-cols-1 xl:grid-cols-5 justify-around" style="display:grid;">
    <% @designs.each do |design| %>
      <div class="m-4 justify-self-center">
        <%= render design %>
      </div>
    <% end %>
  </div>
</div>
