<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Új folt</h1>

  <%= render "form", design: @design %>

  <%= link_to 'Vissza a foltokhoz', designs_path, class: "btn btn-secondary ml-3" %>
</div>
