<h1 class="mb-8 text-center text-3xl font-bold"><%= user.name %></h1>

<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1 inline">Név:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 inline">Email-cím:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 inline">Admin:</strong>
    <% if user.admin? %>
      <i class="fa-solid fa-check text-green-800"></i>
    <% else %>
      <i class="fa-solid fa-xmark text-red-600"></i>
    <% end %>
  </p>
</div>
