<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <h1 class="mb-8 text-3xl text-center font-bold">Szerkesztés</h1>

    <%= render "form", user: @user %>

    <br>
    <div class="w-full flex justify-center">
      <%= link_to 'Vissza', @user, class: "mt-2 bg-gray-200 px-5 text-xs rounded-lg py-3 inline-block font-medium" %>
    </div>
  </div>
</div>
