<h1 class="mb-8 text-3xl font-bold">Felhasználók</h1>

<table class="min-w-full">
  <thead >
    <tr>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Név</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Email</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Admin</th>
      <th class="text-sm font-medium text-gray-900 px-6 py-4 text-left" colspan="2">Műveletek</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr border-b>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> <%= user.name %></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"> <%= user.email %></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
          <% if user.admin? %>
            <i class="fa-solid fa-check text-green-800"></i>
          <% else %>
            <i class="fa-solid fa-xmark text-red-600"></i>
          <% end %>
        </td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= link_to 'Szerkesztés', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
