<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @user %>

    <br>
    <% if policy(@user).edit? %>
      <div class="w-full flex justify-center">
        <%= link_to 'Szerkesztés', edit_user_path(@user), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
