<%= turbo_frame_tag "modal-image" do %>
  <div class="fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">
    <span class="fixed z-90 top-6 right-8 text-white text-5xl font-bold">
       <%= link_to pictures_path do %>
          <span>&times;</span>
        <% end %>
    </span>
    <%= image_tag @picture.img, alt: @picture.name, class: "max-w-[800px] max-h-[600px] object-cover" %>
  </div>
<% end %>
