#alert {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    @apply text-gray-800 transition-colors duration-300 bg-gradient-to-b from-background_light to-background_dark
  }

  .animate-hover {
    @apply transition-colors duration-200;
  }

  .btn {
    @apply px-4 py-2 border-none rounded-full;
  }

  .icon-edit {
    @apply  text-3xl bg-yellow-300 p-3 rounded hover:bg-yellow-500
  }

  .icon-delete {
    @apply text-3xl bg-red-500 p-3 rounded hover:bg-red-700
  }

  .btn-primary {
    @apply px-4 py-3 bg-primary text-white text-xs font-semibold rounded hover:bg-green-800;
  }

  .btn-secondary {
    @apply px-4 py-3 bg-transparent text-secondary text-xs font-semibold rounded outline outline-offset-1 outline-2 hover:text-green-800;
  }

  .link {
    @apply font-medium text-primary hover:underline
  }

  .title {
    @apply inline-block w-auto px-6 py-3 mb-0 text-2xl font-bold bg-gray-50;
  }

  .subtitle {
    @apply inline-block w-auto px-6 py-3 text-xl font-semibold bg-gray-50 my-3;
  }

  .nav-link {
    @apply hover:text-red-800 animate-hover;
  }

  .form-element {
    @apply dark:bg-gray-800;
  }

  .input {
    @apply block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
  }

  .checkbox {
    @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer
  }
}
@import 'actiontext.css';
