<footer class="grid grid-cols-1 sm:grid-cols-2 gap-10 pt-6 pb-5 text-center">
  <div class="flex flex-col items-center">
    <div class="flex flex-row items-center gap-2">
      <%= image_tag("logo.svg", alt: "Pulcsi és Foltmékör", class: "w-16 h-16") %>
      <%= image_tag("schonherz.svg", alt: "Schönherz", class: "h-16 w-32") %>
    </div>
    <div class="text-lg">Pulcsi és Foltmékör &copy; 2023</div>
    <div class="flex flex-row items-center justify-center space-x-6 mt-2">
      <a aria-label="Facebook link" href="https://www.facebook.com/pulcsi.es.foltmekor" target="_blank" rel="noopener noreferrer">
        <svg class="w-6 h-6 hover:text-blue-800 dark:hover:text-blue-500 animate-hover" xmlns="http://www.w3.org/2000/svg" alt="Facebook" aria-label="Facebook" viewbox="0 0 24 24" fill="currentColor">
          <path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"></path>
        </svg>
      </a>
      <a aria-label="Instagram link" href="https://www.instagram.com/himzo.sch/" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-instagram fa-xl"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <%= image_tag("kir-dev.svg", alt: "Kir-Dev", class: "w-16 h-16") %>
    <div>
      <div class="flex flex-row items-center text-lg">
        <span>Made with</span>
        <svg class="w-6 h-6 mx-1" xmlns="http://www.w3.org/2000/svg" alt="Love" aria-label="Love" viewBox="0 0 20 20" fill="red">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
        </svg>
        <span>by&nbsp;<a class="underline hover:text-yellow-700 dark:hover:text-yellow-500" href="https://kir-dev.sch.bme.hu" target="_blank" rel="noopener noreferrer">Kir-Dev</a></span>
      </div>
      <div class="flex flex-row items-center justify-center space-x-6 mt-2">
        <a aria-label="GitHub link" href="https://github.com/kir-dev" target="_blank" rel="noopener noreferrer">
          <svg class="w-6 h-6 hover:text-blue-800 dark:hover:text-blue-500 animate-hover" xmlns="http://www.w3.org/2000/svg" alt="Github" aria-label="Github" viewbox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
          </svg>
        </a>
        <a aria-label="Facebook link" href="https://facebook.com/kirdevteam" target="_blank" rel="noopener noreferrer">
          <svg class="w-6 h-6 hover:text-blue-800 dark:hover:text-blue-500 animate-hover" xmlns="http://www.w3.org/2000/svg" alt="Facebook" aria-label="Facebook" viewbox="0 0 24 24" fill="currentColor">
            <path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
