<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Tag szerkesztése</h1>

  <%= render "form", member: @member %>

  <%= link_to "Vissza a csapatunkhoz", members_path, class: "btn btn-secondary ml-3" %>
</div>
